.chat-main
  .chat-main__group-info
    .chat-main__group-info__name
      = @group.name
      .chat-main__group-info__name__member
        Member:
        - @group.users.each do |user|
          = user.name
    .chat-main__group-info__edit
      = link_to edit_group_path(@group) do
        edit
  .chat-main__message-list
    = render @messages
  .chat-main__message-form
    = form_for [@group, @message], html: {class: 'form_for'} do |f|
      .chat-main__message-form__form-tag
        = f.text_field :content, class: 'textbox', placeholder: 'type a message'
        = f.label :image, class:'form__image' do
          = icon('fas', 'image', class: 'fas')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'submit'
